@import "../../variables";

.cv-details {
  grid-area: details;
  padding: $main-gap;

  &__experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}