@import "../../variables";

.cv-personal-info {
  grid-area: personal;
  padding: $main-gap;
  background-color: #f5f5f5;
  text-align: center;

  .cv-photo {
    width: 100%;
    margin-bottom: $main-gap;
    border-radius: 50%;
  }
}