@import "variables";

.cv-main {
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
  display: grid;
  grid-template-areas:
  "header header"
  "personal details"
  ;
  grid-auto-columns: 250px 1fr;
}

.cv-details {
  grid-area: details;
  padding: $main-gap;
  &__experience {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__education {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
